<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleName</key>
        <string>Shoko Relay</string>
        <key>CFBundleVersion</key>
        <string>1.2.33</string>
        <key>CFBundleIdentifier</key>
        <string>com.plexapp.agents.shokorelay</string>
        <key>PlexClientPlatforms</key>
        <string>*</string>
        <key>PlexFrameworkVersion</key>
        <string>2</string>
        <key>PlexPluginClass</key>
        <string>Agent</string>
        <key>PlexPluginCodePolicy</key>
        <string>Elevated</string>
        <key>PlexAgentAttributionText</key>
        <string>
            &lt;a href=&quot;https://github.com/natyusha/ShokoRelay.bundle&quot;&gt;Shoko Relay&lt;/a&gt; [v1.2.33] is natyusha's fork of &lt;a href=&quot;https://github.com/Cazzar/ShokoMetadata.bundle&quot;&gt;Shoko Metadata&lt;/a&gt; (created by Cazzar) and its v3 API migration (spearheaded by Harshith Mohan). It utilizes &lt;a href=&quot;https://shokoanime.com/&quot;&gt;Shoko Server&lt;/a&gt; in conjunction with metadata sourced from &lt;a href=&quot;https://anidb.net/&quot;&gt;AniDB&lt;/a&gt;, &lt;a href=&quot;https://www.themoviedb.org/&quot;&gt;TMDB&lt;/a&gt;, and &lt;a href=&quot;https://animethemes.moe/&quot;&gt;AnimeThemes&lt;/a&gt;.
        </string>
    </dict>
</plist>